@model GalereaModel
@{
	ViewData["Title"] = "Galerea";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@{	Composition composition = Model.db.Compositions.Find(Model.SelectedId);
	string name = composition.GetDeShiffovkaName(Model.Key);
	int left  = Model.PhotoId - 1;
	int right = Model.PhotoId + 1;
}

<h1 class="Centr">@name</h1>


<div class="col-lg-12 mr-2 ml-2">
	<img class="img-thumbnail displayed" src="@Url.Action("GetedImage", "Home", new { id = Model.PhotoId })" />
</div>
<div class="row">	
	<div class="Centr">
		<div class="row">
			<div  style="margin-bottom:10%">
				@using (Html.BeginForm("Galerea", "Home", FormMethod.Post))
				{
					@if (Model.Maybe != 1)
					{
						<input type="hidden" name="id" value="@left" />
						<input type="submit" class="ButtOpen Butt" style="display: block; margin-left: auto;" value="Left" />
					}
				}
			</div>
			<div >
				@using (Html.BeginForm("Galerea", "Home", FormMethod.Post))
				{
					@if (Model.Maybe != 2)
					{
						<input type="hidden" name="id" value="@right" />
						<input type="submit" class="ButtOpen Butt" value="Right" />
					}
				}
			</div>
		</div>

	</div>
</div>
<div class="row">
		<div class="Centr">
			<div class="row">
				<form asp-action="Galerea" asp-controller="Home">
					<input type="hidden" name="id" value="@composition.IdFirstPhoto" />
					<input type="submit" class="ButtOpen Butt" style="width:130%" value="<<<" />
				</form>
				@for (int i = Model.MinId; i < Model.MaxId; i++)
				{
					string color = (composition.IdFirstPhoto + i == Model.PhotoId) ? "#423333" : "gray";
					<form asp-action="Galerea" asp-controller="Home">
						<input type="hidden" name="id" value="@(i + composition.IdFirstPhoto)" />
						<input type="submit" class="ButtOpen Butt" style="width:130%; background-color: @color" value="@(i+1)" />
					</form>
				}
				<form asp-action="Galerea" asp-controller="Home">
					<input type="hidden" name="id" value="@(composition.IdFirstPhoto + composition.NumberPhotos - 1)" />
					<input type="submit" class="ButtOpen Butt" style="width:130%" value=">>>" />
				</form>

			</div>

		</div>
	</div>

